<a href="https://colab.research.google.com/github/yebiny/SkillTreePython/blob/main/%ED%95%B4%EC%84%A4/4_2_%EB%B0%98%EB%B3%B5%EB%AC%B8_for_%EB%AC%B8-%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4-2. 조건문 : for 문
---
* 날짜:
* 이름:

## 개념정리
---

반복문은 특정 조건에 따라 반복문 코드 블럭 안의 내용을 반복합니다. 반복문을 잘 사용하면 100번 써야 할 일을 한번에 끝낼 수 있습니다. 반복문에는 `for문`과 `while문` 이 있습니다. 오늘 배울 `for문`은 처음부터 반복의 횟수를 정해줍니다.

### **(1) 기본 사용**


for문은 몇번 반복할 것인지 조건을 주고, 그 조건에 따라 for문 아래에 있는 코드가 실행됩니다.

```
for 조건: # 조건의 횟수만큼
  코드1 # 이 코드들을 반복합니다.
  코드2 # 이 코드들을 반복합니다.
  ...
```

그럼 조건을 어떻게 주는지 알아봅시다.

#### **군집자료형과 함께 쓰는 for문**

군집자료형의 요소가 차례대로 `i` 에 바인딩 됩니다. `for문` 아래에서 `i`가 변수로 작동됩니다.  아래 예시에서 `i`는 모두 `1,2,3` 순으로 출력됩니다.  

```
for i in [1,2,3]:
  print("i의 값은 : ", i)
```

리스트가 아닌 튜플이나 문자열 등 다른 군집자료형도 같은 결과를 얻습니다.

```
for i in (1,2,3):
  print("반복", i)
```

for문 내에서 변수가 필요 없으면 아래와 같이 언더바(_)로 표기하기도 합니다.

```
for _ in [1,2,3]:
  print("i 값이 필요없는 반복")
```

#### **range와 함께 쓰는 for문**


굳이 군집자료형을 만들어 놓지 않아도 반복문을 쓸 수 있습니다. 이 때는 range를 이용하는데, range도 슬라이싱 과 마찬가지로 처음, 끝, 스텝이 존재합니다. 

* `range(n)`: `0`부터 `n-1` 까지 총 `n` 회 반복됩니다.

```
for i in range(3):
  print("i의 값은 : ", i)
```


* `range(n, m)`: `n`부터 `m-1`까지 총 `m-n`회 반복됩니다.

```
for i in range(3, 6):
  print(i)
```


* `range(n, m, s)`: `n`부터 `m-1`까지 `s`씩 건너뛰며 반복됩니다.

```
for i in range(3, 10, 2):
  print(i)
```

`range` 가 보통은 `for`문과 함께 쓰이긴 하지만 이 자체가 일종의 sequence입니다.

아래와 같이 리스트로 정의해 리스트의 값을 유연하게 정의해 줄 수도 있습니다. 

```
l = list(range(101))
print(l)
```

### **(2) 함수와 함께 쓰는 for문**


함수도 반복해서 실행시켜야 할 경우 for문을 통해서 작성할 수 있습니다.

```
def square(x):
  return x**2

for x in [1,2,3,4,5]:
  print(square(x))

```

앞에서 배운 내장함수 `map`을 기억하시나요? `map` 을 이용해 함수 `square`에 리스트 `[1,2,3,4,5]` 의 결과를 출력해봅시다. 

```
l = list(map(square, [1,2,3,4,5]))
print(l)
```

위 코드와 정확히 똑같은 결과를 내는 코드를 `for`문을 이용해 작성해 봅시다. 
실행 결과 제곱 값이 담긴 리스트를 출력해야 합니다.

### **(3) if문과 함께 쓰는 for문**

for문 아래에 조건을 주어 특정 변수가 입력될 때만 코드를 실행할 수 있습니다. 

```
for i in range(3):
  print(i)
  if i>0:
    print('0보다 크다!')
print('for문 끝')
```

#### 다음반복으로 건너뛰기

* `continue`

`for문` 안에서 `continue`를 만나면 즉시 다음 반복으로 넘어갑니다. `continue` 아래에 있는 `for문` 코드들은 진행되지 않습니다. 

```
for i in range(5):
  print(i) 
  if i < 3: continue
  print('--') 
```

#### **for문을 즉시 종료하기**  

* `break`

`for문` 안에서 `break` 을 만나면 즉시 `for문`이 종료됩니다. (모든 루프가 돌아가지 않았어도)

```
for i in range(5):
  print(i)
  if i==2: break
  print('--')
```

`if문`의 조건을 만족하여 `break`을 만나는 순간 `for문`이 종료되고, 다음 루프가 실행조차 되지 않습니다. 따라서 2번째 루프가 시작된 후 다음 코드들은 보이지 않네요.

### **(4) for문을 더 효율적으로 사용하기**

for문은 코드를 짤 때 매우 빈번하게 사용되는 문법입니다. 그러니 for문을 좀 더 효율적으로 사용하는 방법에 대해 알고 있는것이 매우 도움이 됩니다.

연습을 위해 우선 리스트 두개를 먼저 정의해 봅시다.

```
l1 = ["A","B","C"]
l2 = ["a", "b", "c"]
```


#### **두개의 sequence를 함께 나열하기**

* `zip`  

`zip`을 이용해서 두개의 sequence를 순차적으로 함께 나타낼 수 있습니다. 사용 문법을 잘 숙지해 둡시다.

```
for x1, x2 in zip(l1, l2):
  print(f'1: {x1}, 2: {x2}')
```

#### **순번을 함께 나열하기**

* `enumerate`  

`for문` 내에서 변수의 값은 항상 `sequence`에 의해서 정해집니다. 절대적인 순번(0, 1, 2, 등)을 같이 변수로 바인딩하고 싶다면 `enumerate`를 사용합니다. 

```
for idx, x in enumerate(l1):
  print( idx, x)
```

### (5) 다중 for문

for문 아래 for문을 또 추가 할 수 있습니다. 다만 다중 for문일 때 코드의 작동순서를 잘 파악할 필요가 있습니다. 삼중, 사중 for문도 구현은 가능합니다. 하지만 for문이 추가될때마다 계산량이 급격히 증가하기 때문에 되도록이면 이중 for문을 넘어가지 않는것이 좋습니다.

```
for i in range(3):
  for j in range(3):
    print(f"i: {i}, j:{j}")
```

코드가 아직 익숙하지 않은 상태에서 다중 for문을 보면 해석하기 어려울 수 있습니다. 이것저것 변수를 건드려보고, 출력을 바꾸면서 최대한 익숙해지도록 하는 것이 좋습니다. 아래 코드가 어떻게 나올지 예상해보고 출력해 봅시다.

```
for i in range(1, 6):
    print(i, end=": ")
    for j in range(1, 11):        
        print(j, end=" ")
    print()
```

### (6) 리스트 안에 for문 쓰기 

0부터 9까지 값이 담긴 리스트를 생성하는 방법을 앞에서 배워봤습니다.

* `range`를 이용하기

```
l = list(range(10))
```


* `for`문 이용하기

```
l = []
for i in range(10):
  l.append(i)
```

이와 비슷하게 for문을 리스트 안에서 한줄로 사용하는 방법이 있습니다. 아래코드는 위 코드들과 완전히 동일한 결과를 냅니다.

```
l = [i for i in range(10)]
```

#### **반환값 조절하기**

리스트에 담기는 값은 가장 처음에 적어줍니다. 위 코드에서는 i라는 변수가 리스트에 담겨집니다. 만약 i의 제곱값을 리스트에 넣고 싶다면 다음과 같이 작성합니다.

```
l = [i**2 for i in range(10)]
```

#### **이중 for문 구현하기**

이중 for문을 구현하는 것도 가능합니다. 위에서 배운 이중 for문 하나를 작성해 보겠습니다.

```
for i in range(3):
  for j in range(5):
    print(i, j)
```


이 코드와 같은 기능을 하는 코드는 아래와 같습니다. (다만 아래는 리스트를 반환하기 때문에 완전히 같은 코드는 아닙니다.)

```
l = [f'{i}, {j}' for i in range(3) for j in range(5)]
print(l)
```

## 문제풀이
---

**[정의] 01~10**

아래와 같이 리스트를 정의하세요.

```
my_list = ["apple", "blue", "cup", "door"]
```

In [ ]:
my_list = ["apple", "blue", "cup", "door"]

**예제 01**


아래 실행 결과를 내는 코드를 `for문`과 `my_list`를 이용하여 작성하세요

```{.no-highlight}
It's apple
It's blue
It's cup
It's door
```

In [ ]:
for x in my_list:
  print(f"It's {x}")

It's apple
It's blue
It's cup
It's door

**예제 02** 

아래 실행 결과를 내는 코드를 `for문`과 `range`를 이용해서 작성하세요

```{.no-highlight}
It's apple
It's blue
It's cup
It's door
```

In [ ]:
for x in range(len(my_list)):
  print(f"It's {my_list[x]}")

It's apple
It's blue
It's cup
It's door

**예제 03** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
-------
start!
It's apple
It's blue
It's cup
It's door
-------
```

In [ ]:
print('-------')
print('start!')
for x in my_list:
  print(f"It's {x}")
print('-------')

-------
start!
It's apple
It's blue
It's cup
It's door
-------

**예제 04** 

아래 실행 결과를 내는 코드를 작성하세요


```{.no-highlight}
-------
start!
-------
It's apple
-------
It's blue
-------
It's cup
-------
It's door
end!
-------
```

In [ ]:
print('-------')
print('start!')
for x in my_list:
  print('-------')
  print(f"It's {x}")
print('end!')
print('-------')

-------
start!
-------
It's apple
-------
It's blue
-------
It's cup
-------
It's door
end!
-------


**예제 05** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
a is apple
-------
b is blue
-------
c is cup
-------
d is door
-------
```

In [ ]:
for x in my_list:
  print(f"{x[0]} is {x}")
  print('-------')

a is apple
-------
b is blue
-------
c is cup
-------
d is door
-------

**예제 06** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
Apple
Blue
Cup
Door
```

In [ ]:
for x in my_list:
  print(f"{x.capitalize()}")

Apple
Blue
Cup
Door


**예제 07** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
Apple len: 5 
Blue len: 4
Cup len: 3
Door len: 4
```

In [ ]:
for x in my_list:
  print(f"{x.capitalize()} len: {len(x)}")

Apple len: 5
Blue len: 4
Cup len: 3
Door len: 4

**예제 08** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
0. apple  
1. blue 
2. cup 
3. door 
```

In [ ]:
#ex1
for i, x in enumerate(my_list):
  print(f"{i}. {x}")
#ex2
for i in range(len(my_list)):
  print(f"{i}. {my_list[i]}")

0. apple
1. blue
2. cup
3. door
0. apple
1. blue
2. cup
3. door

**예제 09** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
00. apple  
01. blue 
02. cup 
03. door 
```

In [ ]:
for i, x in enumerate(my_list):
  print(f"{str(i).zfill(2)}. {x}")

00. apple
01. blue
02. cup
03. door

**예제 10** 

`my_list2`가 다음과 같이 주어졌을 때 위에서 정의한 `my_list`와 `my_list2`를 이용하여 아래와 같은 결과를 내는 코드를 작성하세요

```
my_list2 = ["red","corona","mug","oppen"]
```

```
Red apple
Corona blue
Mug cup
Oppen d
```

In [ ]:
my_list2 = ["red","corona","mug","oppen"]
for a, b, in zip(my_list2, my_list):
  print(f'{a.capitalize()} {b}')

Red apple
Corona blue
Mug cup
Oppen door

**예제 11** 

구구단을 호출하는 함수를 만드세요


```
>> gugudan(5)
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
```

In [ ]:
def gugudan(x):
  for i in range(1, 10):
    print(f'{x} * {i} = {5*(i)}')
gugudan(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

**예제 12** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 
1 2 3 4 5 6 7 8 9 10 
1 2 3 4 5 6 7 8 9 10
```

In [ ]:
for i in range(7):
  for j in range(1,11):
      print(j, end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

**예제 13** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
```

In [ ]:
for i in range(7):
  for j in range(1,7):
      print(j, end=' ')
  print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

**예제 14** 

아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
```

In [ ]:
for i in range(10):
  if i%2==0: start=2
  else: start=1
  for j in range(start,11,2):
      print(j, end=' ')
  print()

2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9

**예제 15** 

for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********
```

In [ ]:
# for문
for i in range(1,11):
  print(' '*(10-i) + '*'*(i))

# 이중 for문
for i in range(1,11):
  print(' '*(10-i), end='')
  for j in range(i):
    print('*', end='')
  print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********


**예제 16** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요.

```{.no-highlight}
           #
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  -------------------
  *******************
    MARRY CHRISTMAS !
```

In [ ]:
print(' '*9+'#')
for i in range(1,21,2):
  print(' '*((20-i)//2), end='')
  if i==19:
    print('-'*19)
  for j in range(i):
      print('*', end='')
  print()
print(' MARRY CHRISTMAS !')

         #
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
-------------------
*******************
 MARRY CHRISTMAS !

**[정의] 17~22**

`apartment`가  다음과 같이 주어져 있습니다. 
```
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]

**예제 17** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 
301 호 
401 호
```

In [ ]:
for a in apartment:
  print(f'{a[0]} 호')

201 호
301 호
401 호


**예제 18** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
203 호 
303 호 
403 호
```

In [ ]:
for i in range(len(apartment)):
  print(f'{apartment[i][2]} 호')

203 호
303 호
403 호

**예제 19** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
402 호 
302 호 
202 호 
```

In [ ]:
for i in range(len(apartment)):
  print(f'{apartment[-(i+1)][1]} 호')

402 호
302 호
202 호

**예제 20** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 옆집은 202 호
301 호 옆집은 302 호
401 호 옆집은 402 호
```

In [ ]:
for i in range(len(apartment)):
  print(f'{apartment[i][0]} 호 옆집은 {apartment[(i)][1]}')

201 호 옆집은 202
301 호 옆집은 302
401 호 옆집은 402


**예제 21** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 윗층은 301 호 윗층은 401호
202 호 윗층은 302 호 윗층은 402호
203 호 윗층은 303 호 윗층은 403호
```

In [ ]:
for i in range(len(apartment)):
  print(f'{apartment[i][0]} 호 윗층은 {apartment[(i)][1]} 윗층은 {apartment[(i)][1]}')

**예제 22** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
201 호 
202 호
203 호
301 호
302 호
303 호
401 호 
402 호
403 호
```

In [ ]:
for i in range(len(apartment)):
  for j in range(len(apartment[i])):
    print(f'{apartment[i][j]} 호')

201 호
202 호
203 호
301 호
302 호
303 호
401 호
402 호
403 호

**예제 23** 

1, 4, 7, 10, 13 ... 31 을 `for문`과 `range`를 이용해서 출력하세요

In [ ]:
print(','.join([str(i) for i in range(1,32,3)]))

1,4,7,10,13,16,19,22,25,28,31

**예제 24** 

아래와 같이 n을 인풋으로 하면 1부터 n까지 더한 값을 출력하는 함수 `add_nums(n)`를 만드세요


```
>> add_nums_line(5)
1
3
6
10
15
```

In [ ]:
def add_nums_line(n):
  n_sum=0
  for i in range(1,n+1):
    n_sum +=i
    print(n_sum)
add_nums_line(5)

1
3
6
10
15

**[정의] 25~28**

`num_list`가 아래와 같이 정의되어 있습니다. 

```
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]
```

In [ ]:
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]

**예제 25**

`num_list` 중 4의 배수만 출력하세요

In [ ]:
for n in num_list:
  if n%4==0 and n>=4:
    print(n)

12
48
60
64
68
72
96
100


**예제 26** 

`num_list` 중 50 이하인 5의 배수만 출력하세요

In [ ]:
for n in num_list:
  if n%5==0 and n>=5 and n<=50:
    print(n)

5
15
25
45

**예제 27** 

`num_list` 중 각 자리수를 더해서 10이 넘는 숫자만 출력하세요

In [ ]:
for n in num_list:
  if (n//10 + n%10) > 10:
    print(n)

47
48
57
58
59
68
75
79
86
93
96
99

**예제 28** 

`num_list` 중 가장 작은 7의 배수를 찾으세요. (hint: `break`을 반드시 포함하세요)

In [ ]:
for n in sorted(num_list):
  if n%7==0 and n>=7:
    print(n)
    break

63

**예제 29** 

학생들의 번호와 점수가 딕셔너리에 아래와 같이 저장되어 있습니다. 전산 실수로 인해 점수가 실제 점수보다 10점이 깍인것을 발견했습니다. 점수를 모두 10점씩 올리세요

```
st_scores = {1:80, 2:55, 3:80, 4:35, 5:75, 6: 80, 7:40, 8: 90, 9:55, 10:20}
```

In [ ]:
st_scores = {1:80, 2:55, 3:80, 4:35, 5:75, 6: 80, 7:40, 8: 90, 9:55, 10:20}
st_scores = {k:v+10 for k, v in st_scores.items()}
st_scores

{1: 90, 2: 65, 3: 90, 4: 45, 5: 85, 6: 90, 7: 50, 8: 100, 9: 65, 10: 30}


**예제 30** 

60점 미만인 학생들에게 "재평가가 실시될 예정입니다.", 90점 이상인 학생들에게 "우수장학금이 지급됩니다."를 출력하는 코드를 작성하세요. 단, 코드내에 continue를 반드시 포함하세요

In [ ]:
for n, score in st_scores.items():
  if score<60:
    print(f'{n}번 학생 재평가가 실시될 예정입니다.')
  elif score>=90:
    print(f'{n}번 우수장학금이 지급됩니다.') 
  else: pass

1번 우수장학금이 지급됩니다.
3번 우수장학금이 지급됩니다.
4번 학생 재평가가 실시될 예정입니다.
6번 우수장학금이 지급됩니다.
7번 학생 재평가가 실시될 예정입니다.
8번 우수장학금이 지급됩니다.
10번 학생 재평가가 실시될 예정입니다.

**[정의] 31~33**

아래와 같이 물건의 이름과 가격이 적힌 딕셔너리가 있습니다. 
```
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }
```

In [ ]:
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }

**예제 31**

가장 저렴한 값을 구하는 코드를 `map`과 `lambda`를 사용하지 않고 `for`문을 이용해 한줄로 작성하세요.

In [ ]:
min([x[1] for x in mart.values()])

500

**예제 32**

가격의 평균을 구하는 코드를 `map`과 `lambda`를 사용하지 않고 `for`문을 이용해 한줄로 작성하세요.

In [ ]:
sum([x[1] for x in mart.values()])/len(mart.values())

1533.3333333333333

**예제 33**

다음과 같은 출력을 하는 코드를  `for`문을 이용해 한줄로 작성하세요.
가능하다면 코드 한줄로 작성해 보세요.

```
a is apple, b is beer, c is cherry, d is donut, e is egg, f is fish
```

In [ ]:
print(', '.join([f'{x} is {mart[x][0]}' for x in mart.keys()]))
print(', '.join([f'{x} is {v[0]}' for x, v in mart.items()]))

a is apple, b is beer, c is cherry, d is donut, e is egg, f is fish
a is apple, b is beer, c is cherry, d is donut, e is egg, f is fish